extends layout

block content
    .main.container
        .row
            h2 ExpressPassword
            include menu
            h1=title
            p=message
            .col-md-4
                
            h1.display-4.m-b-2 Nouveau mot de passe
            
            form(method='POST' action="/update/#{doc._id}")
              div.form-group
                label(for='title') Titre:
                input#email.form-control(type='text', placeholder="Title" name='title' , value="#{doc.title}")

              div.form-group
                label(for='url') Url:
                input#email.form-control(type='text', placeholder="Url du site" name='url', value="#{doc.url}")

              div.form-group
                label(for='username') Nom d'utilisateur:
                input#email.form-control(type='text', placeholder="Nom" name='passname', value="#{doc.passname}")

              div.form-group
                label(for='username') Mot de passe:
                input#email.form-control(type='text', placeholder="Mot de passe" name='password', value="#{doc.password}")

              div.form-group
                label(for='category') Categorie:
                input#email.form-control(type='text', placeholder="Categorie" name='category', value="#{doc.category}")

              button.btn.btn-primary(type='submit') Ajouter 


